ul.pagination.no-margn.pull-right
  li#basic-datatable_previous.paginate_button.previous.disabled(aria-controls='basic-datatable', tabindex='0')
    a(href='#') Previous
  li.paginate_button.active(aria-controls='basic-datatable', tabindex='0')
    a(href='#') 1
  li.paginate_button(aria-controls='basic-datatable', tabindex='0')
    a(href='#') 2
  li.paginate_button(aria-controls='basic-datatable', tabindex='0')
    a(href='#') 3
  li.paginate_button(aria-controls='basic-datatable', tabindex='0')
    a(href='#') 4
  li.paginate_button(aria-controls='basic-datatable', tabindex='0')
    a(href='#') 5
  li.paginate_button(aria-controls='basic-datatable', tabindex='0')
    a(href='#') 6
  li#basic-datatable_next.paginate_button.next(aria-controls='basic-datatable', tabindex='0')
    a(href='#') Next