/* --------------------------------------------------------------------- */
/* MISC Styling
/* --------------------------------------------------------------------- */
.wl-logo {
	margin-top: 10px;
}

.table {
	&.wl-white {
		background: white;
	}
}

.wl-projects {
	&-filter {
		&-row {
			margin-bottom: 15px;
		}
	}
}